[tool.poetry]
name = "dictionaryutils"
version = "3.4.11"
description = "Python wrapper and metaschema for datadictionary."
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/uc-cdis/dictionaryutils"

[tool.poetry.dependencies]
python = ">=3.9, <4"
PyYAML = "*"
# limiting to a version where RefResolver is deprecated but still functioning
jsonschema = "<=4.23.0"
cdislogging = "*"
requests = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
data-simulator = {git = "https://github.com/uc-cdis/data-simulator.git", rev = "1.6.4"}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
