[tool.poetry]
name = "dictionaryutils"
version = "3.4.3"
description = "Python wrapper and metaschema for datadictionary."
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/uc-cdis/dictionaryutils"

[tool.poetry.dependencies]
python = ">=3.6,<=3.9"
PyYAML = "~=5.1"
jsonschema = ">=2.5,<4"
cdislogging = "^1.0.0"
requests = "~=2.18"

[tool.poetry.dev-dependencies]
nose = ">=1.3.7,<2.0.0"
cdislogging = "^1.0.0"
pytest = "^5.4.3"
gen3datamodel = "3.0.2"
data-simulator = {git = "https://github.com/uc-cdis/data-simulator.git", rev = "1.3.2"}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
